<%= flash_notice %>
<p><%= link_to image_tag('new.png', :alt => 'New quote'), new_quote_path %></p>

<% unless @quotes.empty? -%>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Recipient</th>
      <th>Sent</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @quotes.each do |q| -%>
    <tr>
      <td><%= link_to h(q.title), :action => 'preview', :id => q %></td>
      <td><%= h q.to %></td>
      <td><%= format_date(q.sent_at) %></td>
      <td class="delete_button">&nbsp;<%= link_to image_tag('delete.png', :alt=>'Delete'), q, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<% else -%>
<p>No quotes have been sent yet.</p>
<% end %>