<h1>New Quote</h1>

<%= form_tag :action => 'create' do %>
  <p>
    <label for="title">Title:</label><br />
    <input type="text" id="title" name="title" value="<%= h @current_profile.subject %>" />
  </p>
  <p>
    <label for="reference">Reference:</label><br />
    <input type="text" id="reference" name="reference" />
  </p>
  <p>
    <label for="to">Send email to:</label><br />
    <input type="text" id="to" name="to" />
  </p>
  <p>
    <label for="cc">Cc:</label><br />
    <input type="text" id="cc" name="cc" />
  </p>
  <p>
    <label for="introduction">Introduction:</label><br />
    <textarea id="introduction" name="introduction"><%= h @current_profile.intro %></textarea>
  </p>
  <h2>Items to Include</h2>
  <% @current_profile.categories.each do |category| %>
  <h3><%= h category.name %></h3>
  <% category.items.each do |item| %>
  <p class="item_list">
    <input type="text" class="qty" name="items[<%= item.id %>]" value="0" /> &times; <%= h item.name %> (£<%= item.price_in_pounds %>)
  </p>
  <% end %>
  <% end %>
  <h2>Additional Items</h2>
  <% 10.times do |i| -%>
  <p class="item_list">
    <input type="text" class="qty" name="x_qty[<%= i %>]" value="0" /> &times;
    <input type="text" class="x_name" name="x_name[<%= i %>]" /> @
    £<input type="text" class="price" name="x_price[<%= i %>]" /> each
  </p>
  <% end -%>
  <%= image_submit_tag 'preview.png', :alt => "Preview" %>
<% end %>
