<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :from %><br />
  <%= form.text_field :from %>
</p>
<p>
  <%= form.label :subject %><br />
  <%= form.text_field :subject %>
</p>
<p>
  <%= form.label :vat_number, 'VAT number' %><br />
  <%= form.text_field :vat_number %>
</p>
<p>
  <%= form.label :intro %><br />
  <%= form.text_area :intro %>
</p>
<p>
  <%= form.label :html, 'Template HTML' %><br />
  <%= form.text_area :html %>
</p>
