<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :information %><br />
  <%= form.text_area :information %>
</p>
<p>
  <%= form.label :price_in_pounds, 'Price' %><br />
  £<%= form.text_field :price_in_pounds, :class => 'price' %>
</p>
