<%= flash_notice %>
<p><%= link_to image_tag('new.png', :alt => 'New item'), new_item_path %></p>

<% @current_profile.categories.each do |category| %>

<h2><%= h category.name %></h2>

<table>
  <thead>
    <tr>
      <th class="up_down">&nbsp;</th>
      <th class="up_down">&nbsp;</th>
      <th>Name</th>
      <th>Price</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>

<% category.items.each do |item| %>
  <tr>
    <td><% unless item.first? %>&nbsp;
    <%= link_to image_tag('up.png', :alt=>'Up'), {:action => 'up', :id => item}, :class=>'button' %>
    <% end %></td>
    <td><% unless item.last? %>&nbsp;
    <%= link_to image_tag('down.png', :alt=>'Down'), {:action => 'down', :id => item}, :class=>'button' %>
    <% end %></td>
    <td><%= link_to h(item.name), edit_item_path(item) %></td>
    <td>£<%= h item.price_in_pounds %></td>
    <td class="delete_button">&nbsp;<%= link_to image_tag('delete.png', :alt=>'Delete'), item, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %></td>
  </tr>
<% end %>
  </tbody>
</table>

<% end %>