<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=720" />
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'screen' %>
</head>
<body>
<div id="layout">
  <div id="logo"><img src="/images/logo.png" alt="Logo" /></div>
  <ul class="nav" id="the_<%= @nav unless @nav.nil? %>_nav">
    <li id="quotes_link"><%= link_to 'Quotes', quotes_path %></li>
    <li id="items_link"><%= link_to 'Items', items_path %></li>
  </ul>
<%= yield %>
</div><!--#layout-->
</body>
</html>